__pycache__/
*.py[cod]
*$py.class


.venv/
venv/
env/

db.sqlite3
*.sqlite3
media/
staticfiles/

.env

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log

data/eis/
data/import/*
!data/import/
!data/import/.gitkeep
!data/import/contracts_demo.csv
!data/import/contracts_eis_demo_mirea_30.csv